# Mac
.DS_Store

*.o

bin/**
gamer
GAMER_CompareData
GAMER_ExtractUniform
GAMER_ExtractProfile
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
src/Model_ELBDM/CPU_ELBDM/CPU_ELBDMSolver_PhaseForm_MUSCL copy.cpp
src/Model_ELBDM/ELBDM_GetTimeStep_Velocity_ReIm.cpp
src/Model_ELBDM/ELBDM_GetTimeStep_Velocity_Phase.cpp
src/Model_ELBDM/CPU_ELBDM/CPU_ELBDMSolver_PhaseForm_MUSCL_ReIm.cpp
src/TestProblem/ELBDM/PlaneWave/Init_TestProb_ELBDM_PlaneWave._cpp
src/output.txt
src/wave4
.vscode/tasks.json
example/test_problem/Template/Input__Parameter
src/Model_ELBDM/CPU_ELBDM/CPU_ELBDMSolver_PhaseForm_MUSCL_correct.cpp
src/Auxiliary/Aux_Check_Parameter.cpp
src/Makefile
src/.vscode/configurationCache.log
src/.vscode/dryrun.log
src/.vscode/settings.json
src/.vscode/targets.log
src/Model_ELBDM/ELBDM_Flag_Interference.cpp
src/.vscode/launch.json
.vscode/launch.json
src/.vscode/tasks.json
tool/.vscode/configurationCache.log
tool/.vscode/dryrun.log
tool/.vscode/settings.json
tool/.vscode/targets.log
src/Makefile
