# NASA Cabeus (ARM)
CUDA_PATH       /nasa/arm/software/nvhpc/25.1/Linux_aarch64/25.1/cuda/
FFTW3_PATH      /u/jzuhone/opt_arm/fftw-3.3.11/
MPI_PATH        /nasa/arm/software/openmpi/openmpi-5.0.8-ucx1.19-cuda12.6-gnu/
HDF5_PATH       /nasa/arm/software/hdf5/1.14.5_nv_serial/
GSL_PATH        /u/jzuhone/opt_arm/gsl-2.8/

# compilers
CXX     g++
CXX_MPI mpicxx

# flags
CXXFLAG -g
CXXFLAG -O2
CXXFLAG -Wall
CXXFLAG -Wextra
CXXFLAG -Wno-unused-variable
CXXFLAG -Wno-unused-parameter
CXXFLAG -Wno-maybe-uninitialized
CXXFLAG -Wno-unused-but-set-variable
CXXFLAG -Wno-unused-result
CXXFLAG -Wno-unused-function
CXXFLAG -Wno-implicit-fallthrough
CXXFLAG -Wno-parentheses
CXXFLAG -Wno-unknown-pragmas

OPENMPFLAG -fopenmp

LIBFLAG

NVCCFLAG_COM -O3
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

#gpu
GPU_COMPUTE_CAPABILITY 900    # NVIDIA Grace Hopper 200

