# Harvard RC Cannon
CUDA_PATH       /n/sw/helmod-rocky8/apps/Core/cuda/12.2.0-fasrc01/cuda
FFTW3_PATH      /n/holystore01/LABS/hernquist_lab/Users/jzuhone/opt/fftw-3.3.10
MPI_PATH        /n/sw/helmod-rocky8/apps/Comp/gcc/12.2.0-fasrc01/mpich/4.1-fasrc01
HDF5_PATH       /n/sw/helmod-rocky8/apps/MPI/gcc/12.2.0-fasrc01/mpich/4.1-fasrc01/hdf5/1.14.0-fasrc01

# compilers
CXX     g++
CXX_MPI mpicxx

# intel flags
CXXFLAG -g
CXXFLAG -O3
CXXFLAG -Wall
CXXFLAG -Wextra
CXXFLAG -Wno-unused-variable
CXXFLAG -Wno-unused-parameter
CXXFLAG -Wno-maybe-uninitialized
CXXFLAG -Wno-unused-but-set-variable
CXXFLAG -Wno-unused-result
CXXFLAG -Wno-unused-function
CXXFLAG -Wno-implicit-fallthrough
CXXFLAG -Wno-parentheses
CXXFLAG -Wno-unknown-pragmas

OPENMPFLAG -fopenmp

LIBFLAG

CUDAFLAG
