# NTU-eureka (default: openmpi-intel)
CUDA_PATH       /software/cuda/default
FFTW2_PATH      /software/fftw/default
FFTW3_PATH      /software/fftw/default3
MPI_PATH        /software/openmpi/default
HDF5_PATH       /software/hdf5/default
GRACKLE_PATH
GSL_PATH        /software/gsl/default
LIBYT_PATH

# intel flags
CXXFLAG -g 
CXXFLAG -O3
CXXFLAG -w1
CXXFLAG -fp-model precise

OPENMPFLAG -fopenmp

LIBFLAG -limf

CUDAFLAG

# gnu flags
# CXXFLAG -g
# CXXFLAG -O3
# CXXFLAG -std=c++11
# CXXFLAG -Ofast
# CXXFLAG -Wall
# CXXFLAG -Wextra
# CXXFLAG -fp-model precise
# CXXFLAG -Wno-unused-variable
# CXXFLAG -Wno-unused-parameter
# CXXFLAG -Wno-maybe-uninitialized
# CXXFLAG -Wno-unused-but-set-variable
# CXXFLAG -Wno-unused-function
# CXXFLAG -Wno-unused-result
# CXXFLAG -Wno-implicit-fallthrough
# CXXFLAG -Wno-parentheses
# 
# OPENMPFLAG -fopenmp
# 
# LIBFLAG
# 
# CUDAFLAG

