# NTU-eureka
CUDA_PATH       /software/cuda/default
FFTW2_PATH      /software/fftw/default
FFTW3_PATH      /software/fftw/default3
MPI_PATH        /software/openmpi/default
HDF5_PATH       /software/hdf5/default
GRACKLE_PATH
GSL_PATH        /software/gsl/default
LIBYT_PATH
CUFFTDX_PATH    /software/cuFFTDx/default

# compilers
CXX     icpc
CXX_MPI mpicxx

# flags
CXXFLAG -g
CXXFLAG -O2
CXXFLAG -fp-model precise
#CXXFLAG -std=c++11
#CXXFLAG -gxx-name=YOUR_G++
CXXFLAG -w1
CXXFLAG -Wno-unknown-pragmas -diag-disable 3180

OPENMPFLAG -fopenmp

LIBFLAG -limf

NVCCFLAG_COM -O3
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# for debugging
#CXXFLAG -fstack-protector-all
#CXXFLAG -fstack-protector-strong  # somehow it can capture issues not detected by -fstack-protector-all
#LIBFLAG -lssp

# gpu
GPU_COMPUTE_CAPABILITY 750    # 2080 Ti
#GPU_COMPUTE_CAPABILITY 610    # 1080 Ti
#GPU_COMPUTE_CAPABILITY 860    # 3080 Ti
