# NTU-eureka
CUDA_PATH       /software/cuda/default
FFTW2_PATH      /software/fftw/default
FFTW3_PATH      /software/fftw/default3
MPI_PATH        /software/openmpi/default
HDF5_PATH       /software/hdf5/default
GRACKLE_PATH
GSL_PATH        /software/gsl/default
LIBYT_PATH

# compilers
CXX     icpc
CXX_MPI mpicxx

# flags
CXXFLAG -g
CXXFLAG -O3
CXXFLAG -fp-model precise
#CXXFLAG -std=c++11
#CXXFLAG -gxx-name=YOUR_G++
CXXFLAG -w1
CXXFLAG -Wno-unknown-pragmas -diag-disable 3180

OPENMPFLAG -fopenmp

LIBFLAG -limf

CUDAFLAG

# for debugging
#CXXFLAG -fstack-protector-all
#LIBFLAG -lssp
