# NTU-eureka
CUDA_PATH       /software/cuda/default
FFTW2_PATH      /software/fftw/2.1.5-gnu-9.3.0-openmpi-4.1.1-ucx_mt
FFTW3_PATH      /software/fftw/3.3.10-gnu-9.3.0-openmpi-4.1.1-ucx_mt
MPI_PATH        /software/openmpi/4.1.1-ucx_mt-gnu-9.3.0
HDF5_PATH       /software/hdf5/default
GRACKLE_PATH
GSL_PATH        /software/gsl/default
LIBYT_PATH
CUFFTDX_PATH    /software/cuFFTDx/default

# compilers
CXX     g++
CXX_MPI mpicxx

# flags
CXXFLAG -g
CXXFLAG -O3
#CXXFLAG -std=c++11
#CXXFLAG -Ofast
CXXFLAG -Wall
CXXFLAG -Wextra
CXXFLAG -Wno-unused-variable
CXXFLAG -Wno-unused-parameter
CXXFLAG -Wno-maybe-uninitialized
CXXFLAG -Wno-unused-but-set-variable
CXXFLAG -Wno-unused-function
CXXFLAG -Wno-unused-result
CXXFLAG -Wno-implicit-fallthrough
CXXFLAG -Wno-parentheses
CXXFLAG -Wno-unknown-pragmas

OPENMPFLAG -fopenmp

LIBFLAG

NVCCFLAG_COM -O3
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# for debugging
#CXXFLAG -fstack-protector-all
#CXXFLAG -fstack-protector-strong
#CXXFLAG -fsanitize=undefined -fsanitize=address
#LIBFLAG -fsanitize=undefined -fsanitize=address

# gpu
GPU_COMPUTE_CAPABILITY 750    # 2080 Ti
#GPU_COMPUTE_CAPABILITY 610    # 1080 Ti
#GPU_COMPUTE_CAPABILITY 860    # 3080 Ti
