# NTHU-fomalhaut (openmpi-gnu)
CUDA_PATH       /cluster/software/cuda-10.0
#CUDA_PATH       /cluster/software/cuda/11.6/gcc--8.3.0
#FFTW2_PATH      /cluster/software/fftw/2.1.5/gcc--8.3.0/openmpi--3.1.4
FFTW3_PATH      /cluster/software/fftw/3.3.8/gcc--8.3.0/openmpi--3.1.4
MPI_PATH        /cluster/software/openmpi/3.1.4/gcc--8.3.0
HDF5_PATH       /cluster/software/hdf5-parallel/1.8.21/gcc--8.3.0/openmpi--3.1.4
GRACKLE_PATH
GSL_PATH
LIBYT_PATH

# compilers
CXX     g++
CXX_MPI mpicxx

# gnu flags
CXXFLAG -g
CXXFLAG -O3
#CXXFLAG -std=c++11
#CXXFLAG -Ofast
CXXFLAG -Wall
CXXFLAG -Wextra
CXXFLAG -Wno-unused-variable
CXXFLAG -Wno-unused-parameter
CXXFLAG -Wno-maybe-uninitialized
CXXFLAG -Wno-unused-but-set-variable
CXXFLAG -Wno-unused-function
CXXFLAG -Wno-unused-result
CXXFLAG -Wno-implicit-fallthrough
CXXFLAG -Wno-parentheses
CXXFLAG -Wno-unknown-pragmas

OPENMPFLAG -fopenmp

LIBFLAG

NVCCFLAG_COM -O3
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# gpu
GPU_COMPUTE_CAPABILITY 750    # GeForce RTX 2080 Ti (CUDA 10, g01 and g02)
#GPU_COMPUTE_CAPABILITY 860    # RTX A4000 and GeForce RTX 3080 (CUDA 11, g03 and g04)
