# NTHU-fomalhaut (openmpi-gnu)
CUDA_PATH       /usr/local/cuda-10.0
FFTW2_PATH      /home/hyschive/software/fftw/2.1.5-openmpi-gnu
MPI_PATH        /storage/app/gnu/openmpi-3.1.3-gcc8
HDF5_PATH       /storage/app/gnu/hdf5-1.8.21-gcc8

# compilers
CXX     g++
CXX_MPI mpicxx

# gnu flags
CXXFLAG -g
CXXFLAG -O3
#CXXFLAG -std=c++11
#CXXFLAG -Ofast
CXXFLAG -Wall
CXXFLAG -Wextra
CXXFLAG -Wno-unused-variable
CXXFLAG -Wno-unused-parameter
CXXFLAG -Wno-maybe-uninitialized
CXXFLAG -Wno-unused-but-set-variable
CXXFLAG -Wno-unused-function
CXXFLAG -Wno-unused-result
CXXFLAG -Wno-implicit-fallthrough
CXXFLAG -Wno-parentheses
CXXFLAG -Wno-unknown-pragmas

OPENMPFLAG -fopenmp

LIBFLAG

CUDAFLAG

