# GitHub-hosted GitHub Actions runners (Ubuntu)
# https://docs.github.com/en/actions/reference/runners/github-hosted-runners

# 1. Paths
CUDA_PATH       /usr
FFTW2_PATH      /path/to/fftw2
FFTW3_PATH      /path/to/fftw3
MPI_PATH        /usr
HDF5_PATH       /usr/lib/x86_64-linux-gnu/hdf5/serial
GRACKLE_PATH    /path/to/grackle
GSL_PATH        /path/to/gsl
LIBYT_PATH      /path/to/libyt
CUFFTDX_PATH    /path/to/cufftdx

# 2. Compiler type
CXX     g++                     # Serial compiler
CXX_MPI mpicxx                  # MPI compiler (The MPI_PATH/bin/ will be combined automatically)

# 3. Compiler flags
CXXFLAG -g
CXXFLAG -O2

OPENMPFLAG -fopenmp

#LIBFLAG

NVCCFLAG_COM -O3 -I/usr/include/x86_64-linux-gnu/mpi
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# 4. Set the GPU Compute Capability
GPU_COMPUTE_CAPABILITY 750    # NVIDIA Tesla T4 
