# KAWAS (ASIAA)
### Load the following modules before compiling
### module add intel/2020u4 openmpi/4.1.1 hdf5/1.12.1 gsl/2.7 fftw/3.3.10
###

# 1. Paths
CUDA_PATH       $(CUDA_DIR)
FFTW2_PATH      $(FFTW_DIR)
FFTW3_PATH      $(FFTW_DIR)
MPI_PATH        $(OPENMPI_DIR)
HDF5_PATH       $(HDF5_DIR)
GRACKLE_PATH    /path/to/grackle
GSL_PATH        $(GSL_DIR)
LIBYT_PATH      /path/to/libyt

# 2. Compiler type
CXX     icpc                    # Serial compiler
CXX_MPI mpicxx                  # MPI compiler (The MPI_PATH/bin/ will be combined automatically)

# 3. Compiler flags
CXXFLAG -g -O3  -march=core-avx2 -no-multibyte-chars

OPENMPFLAG -fopenmp

LIBFLAG -limf

NVCCFLAG_COM -O3
#NVCCFLAG -ccbin YOUR_HOST_COMPILER
#NVCCFLAG -ccbin CC
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca