# A "typical" macOS installation without GPU
FFTW2_PATH      /usr/local/fftw-2.1.5
MPI_PATH        /usr/local/mpich-3.2
HDF5_PATH       ${HOME}/miniconda3
GSL_PATH        /usr/local/gsl-1.16

# compilers
CXX     g++
CXX_MPI mpicxx

# gnu flags
CXXFLAG -g
CXXFLAG -O3
#CXXFLAG -std=c++11
#CXXFLAG -Ofast
CXXFLAG -Wall
CXXFLAG -Wextra
CXXFLAG -Wno-unused-variable
CXXFLAG -Wno-unused-parameter
CXXFLAG -Wno-maybe-uninitialized
CXXFLAG -Wno-unused-but-set-variable
CXXFLAG -Wno-unused-function
CXXFLAG -Wno-unused-result
CXXFLAG -Wno-implicit-fallthrough
CXXFLAG -Wno-parentheses
CXXFLAG -Wno-unknown-pragmas

OPENMPFLAG -fopenmp

LIBFLAG

CUDAFLAG

