# A "typical" macOS installation without GPU
FFTW2_PATH      /usr/local/fftw-2.1.5
MPI_PATH        /usr/local/mpich-3.2
GSL_PATH        /usr/local/gsl-1.16
HDF5_PATH       ${HOME}/mambaforge/envs/py312

# compilers
CXX     clang++
CXX_MPI mpicxx

# clang flags
CXXFLAG -g
CXXFLAG -O3
CXXFLAG -std=c++11
#CXXFLAG -Ofast
CXXFLAG -Wall
CXXFLAG -Wextra
CXXFLAG -Wno-unused-variable
CXXFLAG -Wno-unused-parameter
CXXFLAG -Wno-uninitialized
CXXFLAG -Wno-unused-but-set-variable
CXXFLAG -Wno-unused-function
CXXFLAG -Wno-unused-result
CXXFLAG -Wno-implicit-fallthrough
CXXFLAG -Wno-parentheses
CXXFLAG -Wno-unknown-pragmas
CXXFLAG -Wno-mismatched-tags
CXXFLAG -Wno-deprecated-declarations
CXXFLAG -Wno-missing-braces

OPENMPFLAG -Xclang -fopenmp

LIBFLAG -lomp

NVCCFLAG_COM -O3
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

#gpu
GPU_COMPUTE_CAPABILITY -1
