# A "typical" macOS installation without GPU
FFTW3_PATH      /usr/local/fftw-3.3.10
MPI_PATH        /usr/local/mpich-4.2.2
GSL_PATH        /opt/homebrew/Cellar/gsl/2.8
HDF5_PATH       ${HOME}/miniforge3/envs/py313

# compilers
CXX     g++-12
CXX_MPI mpicxx

# gnu flags
CXXFLAG -g
CXXFLAG -O3
CXXFLAG -std=c++11
#CXXFLAG -Ofast
CXXFLAG -Wall
CXXFLAG -Wextra
CXXFLAG -Wno-unused-variable
CXXFLAG -Wno-unused-parameter
CXXFLAG -Wno-maybe-uninitialized
CXXFLAG -Wno-unused-but-set-variable
CXXFLAG -Wno-unused-function
CXXFLAG -Wno-unused-result
CXXFLAG -Wno-implicit-fallthrough
CXXFLAG -Wno-parentheses
CXXFLAG -Wno-unknown-pragmas

OPENMPFLAG -fopenmp

LIBFLAG

NVCCFLAG_COM -O3
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

#gpu
GPU_COMPUTE_CAPABILITY -1
