# NCHC-NANO4
CUDA_PATH       /usr/local/cuda
FFTW2_PATH
FFTW3_PATH      $(FFTW3_PATH)
MPI_PATH        $(MPI_DIR)
HDF5_PATH       $(HDF5_PATH)
GRACKLE_PATH
GSL_PATH        $(GSL_DIR)
LIBYT_PATH      $(LIBYT_PATH)
CUFFTDX_PATH    $(MATHDX_PATH)

# compilers
CXX     g++
CXX_MPI mpicxx

# flags
CXXFLAG -g
CXXFLAG -O3
#CXXFLAG -std=c++11
#CXXFLAG -Ofast
CXXFLAG -Wall
CXXFLAG -Wextra
CXXFLAG -Wno-unused-variable
CXXFLAG -Wno-unused-parameter
CXXFLAG -Wno-maybe-uninitialized
CXXFLAG -Wno-unused-but-set-variable
CXXFLAG -Wno-unused-function
CXXFLAG -Wno-unused-result
CXXFLAG -Wno-implicit-fallthrough
CXXFLAG -Wno-parentheses
CXXFLAG -Wno-unknown-pragmas

OPENMPFLAG -fopenmp

LIBFLAG

NVCCFLAG_COM -O3
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# for debugging
#CXXFLAG -fstack-protector-all
#CXXFLAG -fstack-protector-strong
#CXXFLAG -fsanitize=undefined -fsanitize=address
#LIBFLAG -fsanitize=undefined -fsanitize=address

# gpu
GPU_COMPUTE_CAPABILITY 1000    # GB10
