# NAOC-laohu (OpenMPI-1.3.2-intel)
CUDA_PATH       $(CUDA_INSTALL_PATH)
FFTW_PATH       /ifs/data/hsiyu/Software/fftw/2.1.5-openmpi-1.3.2-intel
MPI_PATH        /usr/mpi/intel/openmpi-1.3.2-qlc
# You need to add the following path to Makefile by yourself
#GPUID_PATH      /ifs/data/hsiyu/Software/gpudevmgr
