# NCTS (default: openmpi-intel)
CUDA_PATH       /cluster/cuda-11.6
FFTW2_PATH      /cluster/intel-2022.1/fftw-2.1.5_openmpi4
MPI_PATH        /cluster/intel-2022.1/openmpi-4.1.2
HDF5_PATH       /cluster/intel-2022.1/hdf5-1.10.8
GSL_PATH        /usr

# compilers
CXX     icpc
CXX_MPI mpicxx

# intel flags
CXXFLAG -g
CXXFLAG -O2
CXXFLAG -fp-model precise
CXXFLAG -std=c++11
CXXFLAG -w1
CXXFLAG -Wno-unknown-pragmas -diag-disable 3180

OPENMPFLAG -fopenmp

LIBFLAG -limf

NVCCFLAG_COM -O3
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

#gpu
GPU_COMPUTE_CAPABILITY 860    # RTX A6000
#GPU_COMPUTE_CAPABILITY 750    # Quadro RTX 6000
