# NCTS (default: openmpi-intel)
CUDA_PATH       /cluster/cuda-11.6
FFTW2_PATH      /cluster/intel-2022.1/fftw-2.1.5_openmpi4
MPI_PATH        /cluster/intel-2022.1/openmpi-4.1.2
HDF5_PATH       /cluster/intel-2022.1/hdf5-1.10.8_openmpi4
GSL_PATH        /usr

# compilers
CXX     icpc
CXX_MPI mpicxx

# intel flags
CXXFLAG -g
CXXFLAG -O3
CXXFLAG -fp-model precise
CXXFLAG -w1
CXXFLAG -Wno-unknown-pragmas -diag-disable 3180

OPENMPFLAG -fopenmp

LIBFLAG -limf

CUDAFLAG
