# NERSC Perlmutter (HPE Cray Compiler Wrappers)

### Caution!! Load the module below before compiling
### module load gcc-native/12.3

CUDA_PATH       /opt/nvidia/hpc_sdk/Linux_x86_64/23.9/cuda/12.2/
FFTW2_PATH
FFTW3_PATH      /opt/cray/pe/fftw/3.3.10.6/x86_milan/
MPI_PATH        /opt/cray/pe/craype/2.7.30/  # This is actually the path to CC (just for perlmutter).
HDF5_PATH       /opt/cray/pe/hdf5/default/gnu/12.3
#HDF5_PATH       /opt/cray/pe/hdf5-parallel/1.12.2.9/gnu/12.3/
GRACKLE_PATH
GSL_PATH
LIBYT_PATH
CUFFTDX_PATH

# compilers
CXX     CC
CXX_MPI CC                # MPI compiler (The MPI_PATH/bin/ will be combined automatically)

# flags
CXXFLAG -target-accel=nvidia80   # Also available in the environment variable
CXXFLAG -g
CXXFLAG -O2

OPENMPFLAG -fopenmp

#LIBFLAG

NVCCFLAG_COM -O3 -I/opt/cray/pe/mpich/8.1.28/ofi/gnu/12.3/include
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# gpu
GPU_COMPUTE_CAPABILITY 800    # NVIDIA A100
