# NASA Pleiades (intel compilers and SGI MPI)
CUDA_PATH       /nasa/cuda/9.0/
FFTW2_PATH      /u/jzuhone/opt/fftw-2.1.5
MPI_PATH        /nasa/sgi/mpt/2.14r19

CXX     icpc
CXX_MPI mpicxx

# intel flags
CXXFLAG -g 
CXXFLAG -O3
CXXFLAG -w1
CXXFLAG -fp-model precise

OPENMPFLAG -fopenmp

LIBFLAG -limf

CUDAFLAG
HDF5_PATH       /nasa/hdf5/1.8.18_serial
