# NASA Pleiades (intel compilers and SGI MPI)
CUDA_PATH       /nasa/cuda/11.4.2/
FFTW2_PATH      /u/jzuhone/opt/fftw-2.1.5
MPI_PATH        /nasa/hpe/mpt/2.28_25Apr23_rhel87
HDF5_PATH       /nasa/hdf5/1.8.18_serial

# compilers
CXX     g++
CXX_MPI mpicxx

# intel flags
CXXFLAG -g
CXXFLAG -O3
CXXFLAG -Wall
CXXFLAG -Wextra
CXXFLAG -Wno-unused-variable
CXXFLAG -Wno-unused-parameter
CXXFLAG -Wno-maybe-uninitialized
CXXFLAG -Wno-unused-but-set-variable
CXXFLAG -Wno-unused-result
CXXFLAG -Wno-unused-function
CXXFLAG -Wno-implicit-fallthrough
CXXFLAG -Wno-parentheses
CXXFLAG -Wno-unknown-pragmas

OPENMPFLAG -fopenmp

LIBFLAG

NVCCFLAG_COM -O3
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

#gpu
GPU_COMPUTE_CAPABILITY 700    # NVIDIA V100
