# NASA Pleiades (intel compilers and SGI MPI)
CUDA_PATH       /nasa/cuda/9.0/
FFTW2_PATH      /u/jzuhone/opt/fftw-2.1.5
MPI_PATH        /nasa/sgi/mpt/2.14r19
HDF5_PATH       /nasa/hdf5/1.8.18_serial

# compilers
CXX     icpc
CXX_MPI mpicxx

# intel flags
CXXFLAG -g
CXXFLAG -O3
CXXFLAG -fp-model precise
CXXFLAG -w1
CXXFLAG -Wno-unknown-pragmas -diag-disable 3180

OPENMPFLAG -fopenmp

LIBFLAG -limf

CUDAFLAG
