# NTU-spock
CUDA_PATH       /software/cuda/12.1
FFTW2_PATH      /software/fftw/2.1.5-intel-2023.1.0-openmpi-4.1.5-ucx_mt
FFTW3_PATH      /software/fftw/3.3.10-intel-2023.1.0-openmpi-4.1.5-ucx_mt
MPI_PATH        /software/openmpi/4.1.5-ucx_mt-intel-2023.1.0
HDF5_PATH       /software/hdf5/1.10.6-intel-2023.1.0
GRACKLE_PATH
GSL_PATH        /software/gsl/2.6-intel-2023.1.0
LIBYT_PATH
CUFFTDX_PATH    /software/cuFFTDx/22.11

# compilers
CXX     icpc
CXX_MPI mpicxx

# flags
CXXFLAG -g
CXXFLAG -O2
CXXFLAG -fp-model precise
#CXXFLAG -std=c++11
#CXXFLAG -gxx-name=YOUR_G++
CXXFLAG -w1
CXXFLAG -Wno-unknown-pragmas -diag-disable 3180 -diag-disable 10441

OPENMPFLAG -fopenmp

LIBFLAG -limf

NVCCFLAG_COM -O3
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# for debugging
#CXXFLAG -fstack-protector-all
#CXXFLAG -fstack-protector-strong  # somehow it can capture issues not detected by -fstack-protector-all
#LIBFLAG -lssp

# gpu
GPU_COMPUTE_CAPABILITY 860    # 3080 Ti
