# TaiwaniaIII
### Caution!! Load modules under module_CALAB on TwnIII first before compiling, such that FFTW3_PATH, MPI_PATH, HDF5_PATH and GSL_PATH can be found:
###     module use  /home/d07222009/module_CALAB
###     module load intel/2024 intel_2024/fftw/3.3.10 intel_2024/gsl/2.8.0 intel_2024/hdf5/1.14.4 intel_2024/openmpi/5.0.5 intel_2024/openucx/1.18.0
###
CUDA_PATH
FFTW2_PATH
FFTW3_PATH      $(FFTW3_PATH)
MPI_PATH        $(MPI_PATH)
HDF5_PATH       $(HDF5_PATH)
GRACKLE_PATH
GSL_PATH        $(GSL_PATH)
LIBYT_PATH
CUFFTDX_PATH

# compilers
CXX     icpx
CXX_MPI mpicxx

# flags
CXXFLAG -g
CXXFLAG -O3
CXXFLAG -fp-model precise -fstack-protector-all
#CXXFLAG -std=c++11
#CXXFLAG -gxx-name=YOUR_G++
CXXFLAG -Werror -Wfatal-errors -Woverflow
CXXFLAG -Wno-uninitialized -Wno-absolute-value -Wno-unknown-pragmas -diag-disable 3180 -diag-disable 10441

OPENMPFLAG -qopenmp

LIBFLAG -limf

NVCCFLAG_COM -O3
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# for debugging
#CXXFLAG -fstack-protector-all
#CXXFLAG -fstack-protector-strong  # somehow it can capture issues not detected by -fstack-protector-all
#LIBFLAG -lssp
