# The template config file.
# The comment starts with the "#" character.
# 1. Paths
CUDA_PATH       /path/to/cuda
FFTW2_PATH      /path/to/fftw2
FFTW3_PATH      /path/to/fftw3
MPI_PATH        /path/to/mpi
HDF5_PATH       /path/to/hdf5
GRACKLE_PATH    /path/to/grackle
GSL_PATH        /path/to/gsl
LIBYT_PATH      /path/to/libyt
CUFFTDX_PATH    /path/to/cufftdx

# 2. Compiler type
CXX     icpc                    # Serial compiler
#CXX     g++
CXX_MPI mpicxx                  # MPI compiler (The MPI_PATH/bin/ will be combined automatically)

# 3. Compiler flags
CXXFLAG -flag1
CXXFLAG -flag2 -flag3

OPENMPFLAG -fopenmp

LIBFLAG -flag1

NVCCFLAG_COM -O3
#NVCCFLAG -ccbin YOUR_HOST_COMPILER
#NVCCFLAG -ccbin CC
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# 4. Set the GPU Compute Capability
# GPU_COMPUTE_CAPABILITY = major_verison*100 + minor_version*10
# (e.g. GeForce RTX 4090 has GPU_COMPUTE_CAPABILITY 890 (8*100 + 9*10))
# You can also set it to -1 to determine the value automatically using `get_gpu_compute_capability()` in `configure.py`.
# References: https://developer.nvidia.com/cuda-gpus
#             https://en.wikipedia.org/wiki/CUDA#GPUs_supported
GPU_COMPUTE_CAPABILITY 750
