# The template config file.
# To comment in this file, start the line with "#".
# 1. Paths
CUDA_PATH       /path/to/cuda
FFTW2_PATH      /path/to/fftw2
FFTW3_PATH      /path/to/fftw3
MPI_PATH        /path/to/mpi
HDF5_PATH       /path/to/hdf5
GRACKLE_PATH    /path/to/grackle
GSL_PATH        /path/to/gsl
LIBYT_PATH      /path/to/libyt

# 2. Compiler type
CXX     icpc                    # Serial compiler
#CXX     g++
CXX_MPI mpicxx                  # MPI compiler (The MPI_PATH/bin/ will be combined automatically)

# 2. Compiler flags
CXXFLAG -flag1
CXXFLAG -flag2 -flag3

OPENMPFLAG -fopenmp

LIBFLAG -flag1

CUDAFLAG
#CUDAFLAG --ccbin YOUR_HOST_COMPILER
#CUDAFLAG --ccbin CC

