# UIUC-campus (intel-15.0 + openmpi-1.8.4) 
CUDA_PATH       /usr/local/cuda/7.0
FFTW2_PATH      /projects/ncsa/grav/softwares/fftw/2.1.5
MPI_PATH        /usr/local/mpi/openmpi-1.8.4-intel-15.0
HDF5_PATH       /projects/ncsa/grav/softwares/miniconda2
GRACKLE_PATH    /home/hyschive/local
GSL_PATH        /usr/local/gsl/gsl-1.16
